
.navbar{
    padding: 0;
}

a { color: inherit; text-decoration: none;} 

a:hover{
    color:red; 
    text-decoration:none; 
    cursor:pointer;  
}
.card{
    margin-left: 30px!important;
    margin-right: 0px!important;
}

.btn-danger{
    background-color: #f2171c;
    border-radius: 0;
    color: white!important;
    top: 135px;
    z-index: 1;
    font-size: 12px;
    position: absolute;
    text-transform: uppercase;
}
.image-character{
    width: 150px;
    height: 150px;
}
.card-text{
    font-size: 11px;
    color: gray;
}

.card-body.footer .card-title{
    color:#606060;
    font-size: 14px;
}

.card-deck .card{
    height: 300px;
}
.container-img{
    position:absolute;
    left: -10px;
    top: -10px;

}
.card-body.principal{
    position: absolute;
    left: 135px;
    top:-15px;
    padding-top: 0px;
}
.card-body.principal .card-title{
    text-transform: uppercase;
}

.card-body.footer{
    position: absolute;
    top: 120px;

}


.lateral-bar{
    background-color: #e0e0e0b0;
}

.image-comic-lateral{
    width: 125px;
    display: block;
    margin: auto;

}

.container-favo{
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    margin-bottom: 10px;
}

.icon-fav{
    width: 25px;
}



.container-img-comic{
    position: absolute;
}

.container-comic{
    position: absolute;
    left: 220px;
}

.container-comic h5{
    text-transform: uppercase;
}

.container-comic p{
    font-size: 12px;
    color: gray;
    overflow-y: auto;
    max-height: 210px;
}

.image-comic{
    width: 200px;
}

.image-comic-del{
    margin-left: 50px;
    width: 25px;
    position: absolute;
    
}

.modal-dialog{
    max-width: 600px;;
}

.modal-char{
    max-width: 800px;
}

.modal-header{
    padding:0.5em 1em 0 0;
    border-bottom: 0;
}

.modal-body{
    height: 330px;
}

.modal-footer{
    justify-content: center;
    padding: 0;
}

.modal-footer .container-add{
    display: inline-block;
    width: 50%;
    height: 60px;
    background: #f8f9fa;
    margin-right: 0;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.modal-footer .container-add.added{
    background: #1a1a1a;
    color:#ed1e24;
}

.modal-footer .container-buy{
    display: inline-block;
    width: 50%;
    height: 60px;
    background-color: #dcdcdc;
    margin-left: 0;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ed1e24;
}


.text-random{
    text-align: center;
    color: #ed1d23;
    font-weight: bold;
    cursor: pointer;
    font-style: italic;
    margin-bottom: 10px;
    border-bottom: 2px solid #020202;
}

.select_order{
    width:130px;
    display:inline-block;
    height:30px!important;
}


.page-link{
    width: 40px;
    text-align: center;
}

.text-xs-center{
    margin: auto;
}

.pagination li{
    margin: 2px;
}

.page-item.active .page-link{
    font-weight: bold;
    background-color: #eaeaea;
    border-color: #eaeaea;
    color: #020202;
}

footer.footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40;
    color: white;
    font-size: 12px;
}
.footer-logo{
    width: 35px;
    margin-top: 12px;
}

.content-char{
    height: 250px;
    overflow-y: auto;
}

.list-comics{
    font-size: 12px;
    color: gray;
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 8px;
}

.icon-search{
    position: relative;
    left: -35px;
    color: gray;
}